<div class="container">
    <div class="container col-6" style="width: 500px; height: 500px;
    position: absolute; top:0; bottom: 0; left: 0; right: 0; margin: auto;">
        <div class="login-outer">
            <div class="login-inner">
                <form action="/login" method="post">
                    <center>
                        <h1 class="mb-2" style="text-align: center; padding-bottom:20px;">Account Login</h1>

                        <p>
                            <input type="text" id="email" name="email" class="form-control" placeholder="電子郵件"
                                inputmode="email" value="{{account}}" aria-describedby="login-button">
                        </p>

                        <p>
                            <input type="password" id="password" name="password" placeholder="密碼" class="form-control"
                                aria-describedby="login-button">
                        </p>
                        <button class="btn btn-primary" type="submit" id="login-button"
                            onClick="return empty()">登入</button>
                        {{!-- 檢查功能 --}}
                        <script>
                            function empty() {
                                let email
                                let password
                                email = document.getElementById("email").value
                                password = document.getElementById("password").value

                                if (email !== "") {
                                    if (password !== "") {
                                        return true
                                    } else {
                                        alert("請輸入密碼！")
                                        return false
                                    }
                                } else {
                                    alert("請輸入電子郵件！")
                                    return false
                                }
                            }
                        </script>
                    </center>
                </form>
            </div>
        </div>
    </div>
</div>